<div class="site-section" id="features_section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
        <h2 class="section-title"><%= t(:label_text_features_title) %></h2>
        <p><%= t(:text_features_short_description) %></p>
      </div>
    </div>
    <div class="row mb-5 align-items-center">
      <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
        <%= image_tag("undraw_youtube_tutorial.svg", alt: "Image", class: "img-fluid") %>
      </div>
      <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
        <h2 class="text-black mb-4"><%= t(:text_title_feauture_project_management) %></h2>
        <p class="mb-4"><%= t(:text_feauture_project_management) %></p>

        <div class="d-flex align-items-center custom-icon-wrap mb-3">
          <span class="custom-icon-inner mr-3 icon-center-white"><i class="fas fa-layer-group"></i></span>
          <div><h3 class="m-0"><%= t(:text_feauture_project_management_icon_chart) %></h3></div>
        </div>

        <div class="d-flex align-items-center custom-icon-wrap">
          <span class="custom-icon-inner mr-3 icon-center-white"><i class="fas fa-cog"></i></span>
          <div><h3 class="m-0"><%= t(:text_feauture_project_management_icon_managment) %></h3></div>
        </div>

      </div>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <%= image_tag("undraw_teaching.svg", alt: "Image", class: "img-fluid") %>
      </div>
      <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h2 class="text-black mb-4"><%= t(:text_title_feauture_opportunities) %></h2>
        <p class="mb-4"><%= t(:text_title_feauture_opportunities_description) %></p>

        <div class="d-flex align-items-center custom-icon-wrap mb-3">
          <span class="custom-icon-inner mr-3 icon-center-white"><i class="fas fa-check-double"></i></span>
          <div><h3 class="m-0"><%= t(:text_feauture_opportunities_done) %></h3></div>
        </div>

        <div class="d-flex align-items-center custom-icon-wrap">
          <span class="custom-icon-inner mr-3 icon-center-white"><i class="fas fa-flag"></i></span>
          <div><h3 class="m-0"><%= t(:text_feauture_opportunities_prioritize) %></h3></div>
        </div>

      </div>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
        <%= image_tag("undraw_teacher.svg", alt: "Image", class: "img-fluid") %>
      </div>
      <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
        <h2 class="text-black mb-4"><%= t(:text_title_feauture_think_easer) %></h2>
        <p class="mb-4"><%= t(:text_feauture_think_easer_description) %></p>

        <div class="d-flex align-items-center custom-icon-wrap mb-3">
          <span class="custom-icon-inner mr-3 icon-center-white"><i class="fas fa-stopwatch"></i></span>
          <div><h3 class="m-0"><%= t(:text_feauture_think_easer_timeline) %></h3></div>
        </div>

        <div class="d-flex align-items-center custom-icon-wrap">
          <span class="custom-icon-inner mr-3 icon-center-white"><i class="fas fa-ellipsis-h"></i></span>
          <div><h3 class="m-0"><%= t(:text_feauture_think_easer_others) %></h3></div>
        </div>

      </div>
    </div>

  </div>
</div>