<div class="site-wrap">

  <%= render partial: 'navbar' %>

  <%= render partial: 'intro' %>

  <%= render partial: 'features' %>

  <%= render partial: 'reviews' %>

  <%= render partial: 'contact_us' %>

  <%= render partial: 'footer' %>

</div> <!-- .site-wrap -->